.wrapper{
    display: flex;
    height: inherit;
    flex-direction: row;
}
.contianer{
    height: 100%;
    flex: 5;
    /* box-sizing: border-box; */
    /* width: 100%; */
    /* min-width: 800px; */
    /* margin-left: 260px; */
}